In [1]:
# Import pandas library
import pandas as pd

In [2]:
# Read the data from the file
data = pd.read_csv('digital_wallet_transactions.csv')

# Display the first few rows of the data
data.head()

,idx,transaction_id,user_id,transaction_date,product_category,product_name,merchant_name,product_amount,transaction_fee,cashback,loyalty_points,payment_method,transaction_status,merchant_id,device_type,location
0,1,4dac3ea3-6492-46ec-80b8-dc45c3ad0b14,USER_05159,2023-08-19 03:32,Rent Payment,2BHK Flat Deposit,Airbnb,1525.39,36.69,19.19,186,Debit Card,Successful,MERCH_0083,iOS,Urban
1,2,a903ed9f-eb84-47e7-b8aa-fd1786c919cf,USER_07204,2023-08-19 04:37,Gas Bill,Commercial Gas Connection,Adani Gas,1495.40,28.19,89.99,182,UPI,Successful,MERCH_0163,iOS,Urban
2,3,2a393013-733c-4add-9f09-bed1eeb33676,USER_00903,2023-08-19 05:52,Bus Ticket,Semi-Sleeper,MakeMyTrip Bus,1267.71,11.36,95.70,994,UPI,Successful,MERCH_0320,iOS,Urban
3,4,9a07ad19-4673-4794-9cd2-9b139f39c715,USER_01769,2023-08-19 06:35,Internet Bill,4G Unlimited Plan,Airtel Broadband,9202.63,6.41,82.24,409,Debit Card,Successful,MERCH_0194,Android,Urban
4,5,76418260-c985-4011-979d-0914604d0d68,USER_03544,2023-08-19 06:36,Loan Repayment,Home Loan EMI,Axis Bank,3100.58,41.15,40.47,837,Debit Card,Successful,MERCH_0504,Android,Urban

In [3]:
# Display the shape of the data
data.shape

(5000, 16)

In [4]:
# Count the number of missing values in each column
data.isna().sum()

idx                   0
transaction_id        0
user_id               0
transaction_date      0
product_category      0
product_name          0
merchant_name         0
product_amount        0
transaction_fee       0
cashback              0
loyalty_points        0
payment_method        0
transaction_status    0
merchant_id           0
device_type           0
location              0
dtype: int64

In [5]:
# Check if transaction_id ever repeats
data['transaction_id'].nunique() == data.shape[0]

True

In [6]:
# Get types in each column
data.dtypes

idx                     int64
transaction_id         object
user_id                object
transaction_date       object
product_category       object
product_name           object
merchant_name          object
product_amount        float64
transaction_fee       float64
cashback              float64
loyalty_points          int64
payment_method         object
transaction_status     object
merchant_id            object
device_type            object
location               object
dtype: object

In [7]:
# Count the number of unique values in each column
data.nunique()

idx                   5000
transaction_id        5000
user_id               3932
transaction_date      4978
product_category        20
product_name           100
merchant_name           97
product_amount        4990
transaction_fee       3175
cashback              3959
loyalty_points         995
payment_method           5
transaction_status       3
merchant_id            987
device_type              3
location                 3
dtype: int64